/* Cart Modal */
.cart-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 350px;
    height: 95%;
    background: var(--card-background);
    box-shadow: -2px 0 4px rgba(0,0,0,0.1);
    z-index: 1001;
    margin-top: 10px;
    margin-right: 10px;
    border-radius:  20px 0 10px 20px;
    border: 1px solid #7d7d7d;
}

.cart-modal.active {
    display: block;
}
.close-btn {
    position: absolute;
    top: 10px; 
    right: 10px;
    margin-right: 20px; 
    font-size: 30px;
    color: #333; 
    cursor: pointer;
  }
.cart-content {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cart-items {
    flex-grow: 1;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #e5e7eb;
}

.cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 1rem;
}

.cart-summary {
    margin-top: auto;
    padding-top: 1rem;
}
.cart-item-info p button {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: #007bff; /* Blue color for buttons */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-item-info p button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.cart-item-info p span {
    display: inline-block;
    min-width: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333; /* Dark text for contrast */
}


.checkout-btn {
    margin-top: 10px;
    width: 100%;
    padding: 1rem;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);
}

.checkout-btn:hover {
    background-color: #ea580c;
}
